.containerMain_SME {
    margin-right: 20px;
    padding: 0 0 10px;

    width: calc(100% - 20px) ;
    /* background-color: #f0efef; */
}


.divClose_SME {
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
}


.btnClose_SME {
    display: block;
    margin-left: auto;
    padding: 2px 8px;
    color: #44bece;
}


.containerItems_SME button{
    
}

.btn_SME{
    display: flex;
    margin:0 0 6px 0;
    padding: 0 12px;
    font-size: 0.8rem;
    font-weight: 600;
    color: #6b6b6b;
}

