
:root {

    --colorMore:#7492c1;
    /* --paddingContainer : 0 clamp(3px , 0.8vw , 15px); */
    --paddingContainer :clamp(3px , 2vw , 20px);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    margin: 0;
    font-size: 16px;
    
    
}

/** 
* For buttons that do not need styling
* In fact, its content has styling
*/
.--styleLessBtn {
    background-color: inherit;
    border: none;
}


.--block{
    display: block;
}


.--scrollHidden{
    overflow:hidden ;
    
}


.--displayNone {
    display: none !important;

}





.--opacity0{
    opacity: 0;
}


.--width100{
    width: 100% !important;
}

